html, body
{
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color:#777;
}	
body
{
	background-image:url("img/matrix.jpg");
	background-color:black;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: .5s;
}
p
{
	margin-top: 0;
	margin-left: 70px;
	display: inline-block;
}
td
{
	padding:10px;
}
#head01
{
	display:inline-block;
	width:300px;
	margin-left: 50px;
	margin-top: -90px;
}
#head02
{
	display:inline-block;
	width:900px;
	text-shadow: 0px 0px 10px rgba(0,0,0,1);
}
#head03
{
	width:100%;
}
.tableau
{
		padding:50px;
		border:2px solid black;
		border-radius:5px;
	     background: grey;
		 width:50%;
		 height:50%;
		 margin:auto;
		 opacity:.5;
		 color:black;
}


.sticker
{
	width: 180px;
	height: 180px;
}

.stk1 .sticker-img
{
	background-image: url("img/me.JPG");
	background-size: cover;
	
}
/*VIDEO BACKGROUND*/
video{
	background-image: url("img/video.mov");
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
	z-index: -100;
	background-size: cover;
	position: fixed;
	transition: 1s opacity;
}

.bgimg-1
{
	background-image: url("img/bgimg-1.jpg");
	height:100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bgimg-2
{
	background-image: url("img/bgimg-2.jpg");
	height:100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bgimg-3
{
	background-image: url("img/bgimg-3.jpg");
	height:100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* ANIMATED BUTTON */
.button{
	border-radius:44px;
	background-color:grey;
	border:none;
	color:green;
	text-align:center;
	font-size:16px;
	padding: 20px;
	width:100px;
	transition: all 0.5s;
	cursor:pointer;
	margin:5px;
}

.button span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}	
.button span:after
{
	content:'>>';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -10px;
	transition: 0.5s;
}
.button:hover span{
	padding-right: 45px;
}

.button:hover span:after{
	opacity: 1;
	right: 0;
}

/*SIDE NAVIGATION MENU*/
.sidenav
{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
	color: #f1f1f1;
}

.sidenav .closebtn
{
	position: absolute;
	top:0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main
{
	tansition: margin-left .5s;
	padding: 20px;
	height: 100%;
}

@media screen and (max-height: 450px)
{
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

/*SLIDESHOW*/

.slideshow-container
{
	max-width: 1000px;
	width:400px;
	
	position: relative;
	margin: auto;
	
}

.fade
{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	
}

@-webkit-keyframes fade
{
	from{opacity: .4}
	to{opacity: 1}
}

@keyframes fade
{
	from{opacity: .4}
	to{opacity: 1}
}